.BannerCommonInnerParent {
  position: relative;
  background-position: right;
  height: 514px;
}

.BannerCommonContentMain {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.BannerCommonBotContentsTop {
  bottom: 60px;
}

@media (max-width:767px ) {
  .BannerCommonBotContentsTop {  
    bottom: 60px;  padding-top: 40px;
  }
}

@media (max-width:1699px ){
  .BannerCommonInnerParent {
    height: 450px;
  }
}

@media (max-width:1230px ) {
  .BannerCommonInnerParent {
    height: 400px;
  }
}

@media (max-width:991px ) {
  .BannerCommonInnerParent { 
    height: 350px;
  }
}

@media (max-width:767px ) {
  .BannerCommonInnerParent { 
    height: auto;  background-size: 90% 100%;  padding-top: 30px;  padding-bottom: 30px;}
}

.BannerSection {
  position: relative;
  // TODO: @Pratiksha / WebOccult
  // Please check below how we dynamically calculate the site-nav height with the help of javascript
  // Please use the global search to search for --nav-height 
  // and also check the ui.controller.js file and search for --nav-height to learn how this is done
  // height: calc(100vh - 145px); // Old / wrong - fixed and hardcoded absolute values
  // margin-top: 145px; // Old / wrong - fixed and hardcoded absolute values

  height: calc(100vh - #{var(--nav-height)}); // --nav-height is Dynamically calculated, check in inspector at the root/html and resize the window
  margin-top: var(--nav-height);
  .SectionTitle {
    h1 {
      @media #{$only-phone} {
        font-size: 3.6rem;
      }
    }
  }
}

// * {
//   border: 1px solid red;
// }

@media (max-width:1699px ){
	.BannerSection {  position: relative; 
    // height: calc(100vh - 80px);
    height: calc(100vh - #{var(--nav-height)});
  }
}

@media (max-width:991px ) {
  .BannerSection {  height: 420px; }
}

@media (max-width:767px ) {
  .BannerSection {  height: 380px; }
}

@media (max-width:640px ) {
	.BannerSection {  height: 310px;}
}

video#hero-video { 
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 125vh;
}

@media (max-width:640px ) {
	video#hero-video{
    height: 100%;
    width: auto;
    margin-left: auto;
  }
}