// @Pratiksha / @WebOccult
// TODO: Please note all commented out scss is not included when we run 'npm run prod' to build the production ready compilation

// .HeaderSection { // This was mispelled as .HeaderSection when it should be .headerSection
//   position: relative;
//   background-color: color('foreground');
//   top:0;
//   left:0;
//   right:0;
//   text-transform: uppercase;
//   z-index: 9999;
//   position: fixed;
//   width: 100%;
//   transition: all 0.3s;
//   -webkit-transition: all 0.3s;
//   padding: 20px 0 0;
// }

* {
  // border: 1px solid red;
}

.headerSection {
  box-shadow: 0px 1px 5px color('foreground', .25);

  .wrapper {
    // max-width: 100%;
  }
  user-select: none;
} 

section.headerSectionMain {
  background: color('white');
  position: fixed;
  // z-index: 99; // @Pratiksha added this to z-index.scss
  width: 100%;
  top: 0; // Fallback
  top: var(--wp-admin-bar-height);
  left: 0;
  right: 0;
  color: color('black');
  max-width: 100%;
}

.LogoMenuMain {
  display: flex;
  align-items: center;
}

.headerlogo {
  // width: 200px;
  padding: 20px 0;
  @media (min-width: 1700px) {
    width: 413px;
    padding: 32px 0; 
  }
  img {
    height: 39px;
    width: auto;
  }
}

.MenuMain {
  width: calc(100% - 200px);
  @media (min-width: 1700px) {
    width: calc(100% - 413px);
  }
}

.dropdown-menu-icon-Inner {
  display: none;
}

.Mega-dropdown-menu{
  display: none;
  li {
    display: block !important;
  }
  @media(min-width: 992px) {
    display: none;
    // background: linear-gradient(290.45deg, rgba(4, 19, 35, 0.95) 0%, #041323 100.89%);
    background: color('foreground');
    // background: color('accent', .5);
    position: absolute;
    left: 0;
    right: 0;
    top:100%;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: auto;
    z-index: 99;
    text-align: left;
    transition: none;
    border: 0;
    margin-top: 0;
    a { 
      font-size: 38px;
      // color: color('background', .5); 
      color: contrastColor('foreground', .5);
      // TODO: @Pratiksha / WebOccult please note above the use of contrastColor as specified in colours.scss
      // Test changing the foreground and background colours in the colours.scss file and you will see the result
      font-weight: 300;
    }
    li:nth-child(1)  {
      .dropdown-menu-icon {
        display: block;
      }
    }
    .CloseIcon {
      position: absolute;
      right: 0;
      top: 55px;
      cursor: pointer;
      z-index: 2;
    } 
  }
}

.HeadPostContent  {
  color: color('background');
}

.HeadPostContentTop {
  z-index: 2;
  position: relative;
}

.HeadPostBox {
  position: relative;
  &:before{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    // background: color('accent', .5);
    background: radial-gradient(100% 221.79% at 0% 100%, color('foreground', 1) 0%, color('foreground', 0) 100%);
  }
}

@media (min-width:992px ) {

  // TODO: @Pratiksha / WebOccult: See below from plain css
  .sublevelTop>li>a:hover:after, .sublevelTop>li>a.open::after{ background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='27' viewBox='0 0 17 27' fill='none'%3E%3Cpath d='M1.62988 25.6152L15.3442 13.6152L1.62988 1.61523' stroke='%2364D855' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E"); }

  // TO scss:
  // .sublevelTop {
  //   > li {
  //     > a{
  //       color: color('background');
  //       &:hover{
  //         &:after {
  //           background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='27' viewBox='0 0 17 27' fill='none'%3E%3Cpath d='M1.62988 25.6152L15.3442 13.6152L1.62988 1.61523' stroke='%2364D855' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  //         }           
  //       }
  //       &.open {
  //         &:after {
  //           background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='27' viewBox='0 0 17 27' fill='none'%3E%3Cpath d='M1.62988 25.6152L15.3442 13.6152L1.62988 1.61523' stroke='%2364D855' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  //         }
  //       }
  //     }
  //   }
  // }
  

	.sublevelInner {
    width: calc(100% + 23%);
    padding-right: 0;
    padding-left: 70px;
    top: 0;
    left: 100%;
    padding: 50px 0 50px 50px !important;
  }
	.sublevelInner:before {  content: '';
    position: absolute;
    background: contrastColor('foreground', .5);
    // TODO: @Pratiksha / WebOccult please note above the use of contrastColor as specified in colours.scss
      // Test changing the foreground and background colours in the colours.scss file and you will see the result
    pointer-events: none;
    right: auto;
    left: 0;
    top: 45px;
    bottom: 70px;
    width: 1px;
    height: 100%;
  }
	.sublevelInner>li{ margin-bottom: 15px;
   }
	.sublevelInner a {  font-size: 30px;
  }
  .sublevelTop>li>a:hover, .sublevelTop>li>a.open, .sublevelInner>li>a.open, .sublevelInner>li>a:hover {
    color: color('accent');
  }
}

@media (min-width:1700px ) {
	.sublevelInner>li{
    margin-bottom: 24px;
   }
	.sublevelInner a { 
    font-size: 36px;
  }
	.sublevelInner {
    padding: 120px 0px 50px 80px !important;
  }
}

@media (max-width:1230px ) and (min-width:992px ) {
	.sublevelInner a { 
    font-size: 24px;
  }
}
// 

@media (max-width:991px ) {
  .HeadPostBoxMain li, .sublevelInner li a {  background-color: color('foreground') !important;
  }
}

.MegaMenuInner { 
  position: relative;

}

@media(min-width: 992px) {
  
  .MegaMenuInner { 
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media(min-width:1700px) {
  .MegaMenuInner {
    padding-top: 125px;
    padding-bottom: 125px;
  }
	.Mega-dropdown-menu a {
    font-size: 48px;
  }
	.Mega-dropdown-menu{
    height: calc(100vh - 145px);
  }
}

@media (max-width: 1230px) and (min-width: 992px) {
  .Mega-dropdown-menu a {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .Mega-dropdown-menu {
    .wrapper {
      max-width: 100%; 
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.navbar {
  // a {
  //   // text-transform: uppercase;
  // }
  > ul {
    > li {
      position: relative;
      display: inline-block;
      padding:24px 16px;
      transition:all ease 0.3s;
      -moz-transition:all ease 0.3s;
      -webkit-transition:all ease 0.3s;
      -o-transition:all ease 0.3s;
      &:last-child {
        padding-left: 12px;
        padding-right: 0;
      }
      > a {
        padding: 12px;
        @media (min-width: 992px) {
          &.open {
            background: color('accent');
            svg {
              path {
                stroke: color('black');
              }
            }
          }
        }
      }
      &:nth-child(1) {
        @media (min-width: 992px) {
          position: relative;
          padding-bottom: 10px;
        }
      }
    }
  }
  ul {
    @media (max-width: 991px) {
      width: 100%;
    }
    &.dropdown-menu{
      width: calc(100% - 32px);
      background-color: color('accent');
      display: none;
      position: absolute;
      left: 16px;
      top: 100%;
      white-space: nowrap;
      padding: 2px;
      z-index: 99;
      text-align: left;
      transition: none;
      border: 0;
      margin-top: 0;
      @media (max-width: 991px) {
        width: 100%;
        background-color: color('black');
        transition: none;
        position: static;
      }

      li {
        display: block;
        padding: 10px 15px;
        @media (max-width: 991px) {
          position: relative;
          display: block;
          float: left;
          width: 100%;
          padding:0;
          
          a {
            background-color: color('black') !important; //
            // position: relative;
            // display: block;
            // background: color('accent');
            // color: color('background');
            // padding: 10px 15px;
            // border-top: 1px solid color('background') !important;
          }
          &:last-child {
            padding: 0;
          }
          ul {
            &.dropdown-menu {
              display: none;
              padding: 0;
            }
          }
        }
      }

      a {
        @media (max-width: 991px) {
          background-color: color('black') !important;
        }
      }
      @media (min-width: 992px) {
        background-color:color('accent');
        li {
          background-color: color('background');
          &:nth-child(even) {
            background-color: color('accent');
          }
        }
      }
    }
    li {
      @media (max-width:991px ) {
        position: relative;
        display: block;
        float: left;
        width: 100%;
        padding:0;
        a {
          position: relative;
          display: block;
          background: color('accent');
          color: color('white');
          padding: 10px 50px 10px 15px;
          border-top: 1px solid color('white') !important;
        }
        &:last-child {
          padding: 0; 
        }
      }
    }
  }
  span.downAngle {
    display: inline-block;
    padding-left: 7px;
    @media(max-width: 991px) {
      display: none;
    }
  }
  @media (min-width: 992px) {
    // position: initial;   
    .Megachildmenu {
      position: initial;
    }
  }

  @media(max-width: 991px) {
    display:none;
    width: 100%;
    margin-right: 0;
    position: absolute;
    left: 0;
    text-align: left;
    z-index: 999;
    top: 100%;
    height: 100vh;
    overflow-y: auto;

    span.CloseIcon {
      display: none;
    }

    a {
      br {
        display: none;
      }
    }
  }

}

@media (min-width: 992px) {
	.V2navbar ul li:hover ul.V2-dropdown-menu{
    opacity: 1 !important;
    visibility: visible !important;
    top: 100%; -webkit-transform: rotateX(0) translateZ(0);
    -moz-transform: rotateX(0) translateZ(0);
    transform: rotateX(0) translateZ(0);
  }
	.V2navbar ul.V2-dropdown-menu{
    opacity: 0;
    visibility: hidden !important;
  }
}

@media(max-width: 991px) {
  .sublevelTop a {  background-color: #002D5F !important;}
}

@media (min-width: 1230px) and (min-width: 992px) {
  .V2navbar ul li a{ font-size: 17px; }
  // TODO: Sub nav issue
	.V2navbar>ul>li {
      // padding: 15px 8px;
      padding: .5em;
    }
}

@media (max-width:1080px ) and (min-width:992px ) {
	.V2navbar ul li a{ 
    font-size: 15px;
  }
}

@media(min-width: 767px) {
  .navigation .hs-menu-wrapper { right: -15px;}
}

.noListStyle ul, .listStyleDoubleAngle ul, .listStyle ul, .listStyleDisk ul { margin:0; padding:0; list-style:none; } /* put listStyle class to "parent" tag of "ul" */

.V2headerSection { 
  // position: relative; 
  position: sticky; 
  top: var(--wp-admin-bar-height); // Fallback when no WP bar is present
  top: calc(#{var(--nav-height)} + #{var(--wp-admin-bar-height)});
  box-shadow: 0px 1px 5px color('foreground', .25);
  // top: 145px;
  background: color('foreground', .75);
  backdrop-filter: blur(15px);
  z-index: 3;
  // @media(max-width: 1699px) {
  //   top: 80px; 
  // }
  // @media(max-with: 991px) {
  //   height: 65px;
  // }
}

/* Header Version 2 */
.V2navbar ul li a {  font-size: 18px;  text-transform: uppercase;  font-weight: 300;  color:color('background');}
.V2navbar ul.V2-dropdown-menu li a{ color: #fff; }
.V2navbar>ul li:hover>a{ color: color('accent'); }
// TODO: Sub nav issue
.V2navbar>ul>li{
  // padding: 1em; 
  // padding:20px 24px; 
}

.V2navbar>ul>li:last-child {  padding-right: 10px; }
.V2navbar ul li { position: relative;  display: inline-block;  transition:all ease 0.3s; -moz-transition:all ease 0.3s; -webkit-transition:all ease 0.3s; -o-transition:all ease 0.3s; 	 }

.V2navbar ul.V2-dropdown-menu {
  // width: 296px;
  background: color('foreground', .75);
  // box-shadow: 19px 25px 14px color('foreground', .25);
  box-shadow: 0px 1px 5px color('foreground', .25);
	backdrop-filter: blur(15px);
  display: block;
  position: absolute;
  padding: 0;
  left: 0;
  top: -webkit-calc(100% + 15px);
  top: -moz-calc(100% + 15px);
  top: calc(100% + 15px);
  min-width: 296px;
  white-space: nowrap;
  z-index: 555;
  text-align: left;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  transition: all .3s ease-in;
  border: 0;
  margin-top: 0;
}
// TODO: Sub nav issue
.V2navbar ul.V2-dropdown-menu li{
  display: block;
  padding: .5em;
    // padding: 8px 24px;
      border-bottom: 1px solid #fff;
    }
.V2navbar ul.V2-dropdown-menu li:last-child {  border-bottom: 0; }

// TODO: Sub nav issue
@media(max-width: 991px) {
  .V2navbar {display:none;  width: 100%; margin-right: 0; position: absolute; left: 0; text-align: left; z-index: 99; top: 100%;}
	.V2navbar ul li{
    position: relative;
     display: block;
      float: left;
       width: 100%;
        // padding:0;
      }
      // TODO: Sub nav issue
	.V2navbar ul li a {position: relative;
     display: block;
      background: color('foreground');
       color: #fff;
        //  padding: 10px 15px;
          border-top: 1px solid #fff !important;
        }
	.V2navbar ul { display: block; width: 100%;}
  // TODO: Sub nav issue
	.V2navbar ul li:last-child {  
    // padding: 0;
   }
	.V2navbar ul.V2-dropdown-menu{ width: 100%; background-color: color('foreground'); transition: none; position: static; display: none;}

  // TODO: Sub nav issue
	.V2navbar ul.V2-dropdown-menu li{
    padding: 0;
  }

	// .V2headerSection{ height: 65px; }
	.V2navbar ul.V2-dropdown-menu li a {  background: color('foreground'); }
}